.share__picture {
   width: 100%;
   height: 252.22px;
   object-fit: cover;
   object-position: center;
}

@media screen and (min-width: 768px) {
   .share__picture {
      height: 404px;
      width: calc(100% - (60px * 2));
      margin: 0 60px;
   }
}